<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="alert alert-danger" *ngIf="error">
        {{error}}
      </div>
      <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
      </div>
        <form #AuthForm="ngForm" (ngSubmit)="onSubmitAuthForm(AuthForm)" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email" >email</label>
                <input type="email" name="email" class="form-control"
                ngModel
                required
                email
                minlength="6"/>
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input type="password" id="password" class="form-control"
                name="password"
                ngModel
                required/>
            </div>
            <div>
                <button class="btn btn-primary" type="submit"
                [disabled]="AuthForm.invalid">{{isLoginMode ? 'Login': 'Sign up'}}</button> |
                <button class="btn btn-primary" tyep="button" (click)="onSwitchMode()"
                >switch to {{isLoginMode ? 'Sign up': 'Login'}}</button>
            </div>
        </form>
    </div>
</div>
