<div class="row">
  <div class="col-xs-12">
    <form #ingEditForm="ngForm" (ngSubmit)="onSubmit(ingEditForm)">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" #ingredientName id="name" class="form-control" name="name" ngModel
          required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" #ingredientAmount id="amount" class="form-control" name="amount" ngModel
          required
          pattern="^[1-9]+[0-9]*$">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10" >
          <button style="margin:0px 2px 0px 2px" class="btn btn-success" type="submit" 
          [disabled]="!ingEditForm.valid">{{this.editMode ? 'update' : 'add'}}</button>
          <button style="margin:0px 2px 0px 2px" class="btn btn-danger" type="button">Delete</button>
          <button style="margin:0px 2px 0px 2px" class="btn btn-primary"
           type="button"
           (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
